{% extends "layout.html" %}
{% block content %}
<h2>Дневник дискомфорта</h2>
<h3>Добавление записи в дневник дискомфорта</h3>
<form method="post" class="mb-3">
  <div class="mb-3">
    <label class="form-label">Дата</label>
    <input type="date" name="date" class="form-control" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Неудобные действия</label>
    <select name="dropdown" class="form-select" required>
      {% for val in options %}
        <option value="{{ val }}">{{ val }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="mb-3">
    <label class="form-label">Степень дискомфорта</label>
    <input type="text" name="text1" class="form-control" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Как чувствовал себя после</label>
    <input type="text" name="text2" class="form-control" required>
  </div>
  <button type="submit" class="btn btn-success">Добавить</button>
  <a href="/" class="btn btn-link">← Назад</a>
</form>
{% endblock %}
